depth=0
loglevel=notice
engine-strict=true
fetch-retries=3
fetch-retry-mintimeout=5
save=true

package-lock=true

<%if (namespace !== '') {%>scope=@<%=namespace%><%}%>
<%if (namespace !== '') {%>@<%=namespace%>:registry="https://registry.npmjs.org/"<%}%>

registry="https://registry.npmmirror.com"
